﻿@model UserProfileViewModel

@{
    ViewData["Title"] = "User Profile - " + @Model.FirstName;
    var count = 0;
}

<div class="container">
    <div class="col-md-offset-1 col-md-10">
        <h4>@ViewData["Title"]</h4>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>Full Name:</dt>
                <dd>
                    @Model.FirstName @Model.LastName
                </dd>
                <dt>Address:</dt>
                <dd>
                    @Model.CurrentAddress, @Model.City, @Model.Country
                </dd>
                <dt>Gender:</dt>
                <dd>
                    @Model.Gender
                </dd>
                <dt>Mobile Number:</dt>
                <dd>
                    @Model.PhoneNumber
                </dd>
                <dt>WhatsApp Number:</dt>
                <dd>
                    @Model.WhatsappNumber
                </dd>
                <dt>Skype ID:</dt>
                <dd>
                    @Model.SkypeId
                </dd>

                <dt>Educations: </dt>
                <dd>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Institution
                                </th>
                                <th>
                                    Start Year
                                </th>
                                <th>
                                    End Year
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Educations != null)
                            {
                                @foreach (var Education in Model.Educations)
                                {
                                    <tr>
                                        <td>
                                            @(++count)
                                        </td>
                                        <td>
                                            @Education.Title
                                        </td>
                                        <td>
                                            @Education.Institution
                                        </td>
                                        <td>
                                            @Education.StartYear
                                        </td>
                                        <td>
                                            @Education.EndYear
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </dd>
            </dl>
        </div>
    </div>
</div>
