﻿@model LocationViewModel
@{
    ViewData["Title"] = "Profile Location";
}

@section Styles
{
    <link href="~/lib/selectize/dist/css/selectize.css" rel="stylesheet" />
    <link href="~/lib/selectize/dist/css/selectize.default.css" rel="stylesheet" />
    <link href="~/lib/selectize/dist/css/selectize.bootstrap3.css" rel="stylesheet" />
}


<div class="container">
    
  @*<h3 class="mt-xl mb-none pb-none text-uppercase">@ViewData["Title"]</h3>*@
    <div class="col-md-6">
        
        <form asp-controller="Profile" asp-action="Location" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <h4>Change your Profile Location.</h4>
            <hr />

            <div asp-validation-summary="All" class="text-danger"></div>
   
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mt-xl mb-lg pb-none text-uppercase">Location Details</h4>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="Name" class="control-label" placeholder="Type in an address" autocomplete="off"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="Country" class="control-label"></label>
                    <input asp-for="Country" class="form-control" data-geo="country" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="State" class="control-label"></label>
                    <input asp-for="State" class="form-control" data-geo="locality" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" data-geo="city" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="ZipCode" class="control-label"></label>
                    <input asp-for="ZipCode" class="form-control" data-geo="postal_code" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="Long" class="control-label"></label>
                    <input asp-for="Long" class="form-control" data-geo="lng" />
                    <span asp-validation-for="Long" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Lat" class="control-label"></label>
                    <input asp-for="Lat" class="form-control" data-geo="lat"/>
                    <span asp-validation-for="Lat" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-6 col-md-6">
                    <label class="control-label">&nbsp;</label>
                    <br />
                    <button type="submit" class="btn btn-default pull-right">Update Location</button>
                </div>
            </div>

        </form>
    </div>

    <div class="col-md-6">
        <div class="map_canvas" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default;"><div style="z-index: 1; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit; display: block;"></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit; display: block;"></div></div></div><div style="position: absolute; z-index: 0;"><div style="overflow: hidden;"></div></div></div><div style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;" class="gm-style-pbc"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"><div style="z-index: 1; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"></div></div><div style="z-index: 4; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div></div></div>

    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/selectize/dist/js/standalone/selectize.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDTrJ9dyaYyB-3UNhEa4P4MQ6jn7Fg4dxA&amp;libraries=places"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="~/lib/geocomplete/jquery.geocomplete.min.js"></script>

    <script>
        var info;
        $(function () {
            $("#Name").geocomplete({
                map: ".map_canvas",
                details: "form .form-group",
                detailsAttribute: "data-geo",
                types: ["geocode", "establishment"],
                markerOptions: {
                    draggable: true
                },
                location: '@($"{Model?.Lat},{Model?.Long}"?? "")'
            })
            .bind("geocode:result", function (event, result) {
                console.log("Result: " + result);
                info = result;
            })
            .bind("geocode:dragged", function (event, latLng) {
                $("input[name=Lat]").val(latLng.lat());
                $("input[name=Long]").val(latLng.lng());
                $("#reset").show();
            });

            $("#reset").click(function () {
                $("#geocomplete").geocomplete("resetMarker");
                $("#reset").hide();
                return false;
            });

            $("#find").click(function () {
                $("#geocomplete").trigger("geocode");
            });

            $('[data-geo=lat]').change(function () {
                console.log(this);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            
        });
    </script>
}
