﻿@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}


<p class="text-success">@ViewData["StatusMessage"]</p>

<div class="container">
    <div class="col-md-offset-1 col-md-10">
        <h4>@ViewData["Title"]</h4>
        <div>
            @*<h4>Change your account settings</h4>*@
            <hr />
            <dl class="dl-horizontal">
                <dt>Profile:</dt>
                <dd>
                    <a asp-controller="Profile" asp-action="@(User.IsInRole("User") ? "UserProfile" : "CompanyProfile")" class="btn-bracketed">Edit Profile</a>
                </dd>
                @if (User.IsInRole("User"))
                {
                    <dt>Location:</dt>
                    <dd>
                        <a asp-controller="Profile" asp-action="Location" class="btn-bracketed">Change Location</a>
                    </dd>
                    <dt>Education:</dt>
                    <dd>
                        <a asp-controller="Education" asp-action="Index" class="btn-bracketed">Education Qualifications</a>
                    </dd>
                    <dt>Experience:</dt>
                    <dd>
                        <a asp-controller="Experience" asp-action="Index" class="btn-bracketed">Skills</a>
                    </dd>
                    <dt>Slots:</dt>
                    <dd>
                        <a asp-controller="Slot" asp-action="Index" class="btn-bracketed">Availability</a>
                    </dd>
                }
                else
                {
                    <dt>Locations:</dt>
                    <dd>
                        <a asp-controller="Location" asp-action="Index" class="btn-bracketed">Locations</a>
                    </dd>
                    <dt>Jobs:</dt>
                    <dd>
                        <a asp-controller="Job" asp-action="Index" class="btn-bracketed">Jobs</a>
                    </dd>
                }
                <dt>Password:</dt>
                <dd>
                    @if (Model.HasPassword)
                    {
                        <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
                    }
                    else
                    {
                        <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
                    }
                </dd>
            </dl>
        </div>
    </div>
</div>
