﻿@model Location[]
@{
    ViewData["Title"] = "Locations";
    var count = 0;
}

@section Styles
{
    <link href="~/lib/selectize/dist/css/selectize.css" rel="stylesheet" />
}


<div class="container">
    <div class="col-md-offset-2 col-md-8">
        <h4>Your Locations</h4>
        <hr />

        <a asp-controller="Location" asp-action="Create" class="btn btn-default mr-xs mb-sm">Add New Location</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        ZipCode
                    </th>
                    <th>
                        State
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var Location in Model)
                    {
                        <tr>
                            <td>
                                @(++count)
                            </td>
                            <td>
                                @Location.Name
                            </td>
                            <td>
                                @Location.ZipCode
                            </td>
                            <td>
                                @Location.State
                            </td>
                            <td>
                                @Location.Country
                            </td>
                            <td>
                                <a asp-action="Edit" asp-controller="Location" asp-route-id="@Location.ID" class="btn btn-default btn-xs mr-xs mb-sm">Edit</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/selectize/dist/js/standalone/selectize.min.js"></script>

    <script>
        $(document).ready(function () {
            
        });
    </script>
}
