﻿@model Job
@{
    ViewData["Title"] = $"Job - {Model.Experience.Skill.Name} | {Model.Experience.Category.Name}";
}

<section class="page-header section section-tertiary slim-padding section-no-border section-center page-header-custom-background m-none">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center job-heading">
                <h1 class="font-weight-bold text-light text-uppercase">@Model.Experience.Skill.Name <span>@Model.Experience.Category.Name</span></h1>
            </div>
            <div class="col-md-12">
                <a href="#" class="btn btn-primary btn-md font-size-sm text-uppercase mb-md"><i class="icon-calendar icons ml-sm"></i> @Model.Slot.StartTime.ToString("dd/MM/yy") [@Model.Slot.StartTime.ToString("HH:mm") - @Model.Slot.EndTime.ToString("HH:mm")]</a>
            </div>
        </div>
    </div>
</section>

<div class="macro-map clearfix">
    <div class="macro-map-map map_canvas">
        <div id="googleMapsMacro" class="google-map m-none" style="height: 400px; position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-err-container"><div class="gm-err-content"><div class="gm-err-icon"><img src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png" draggable="false" style="user-select: none;"></div><div class="gm-err-title">Oops! Something went wrong.</div><div class="gm-err-message">This page didn't load Google Maps correctly. See the JavaScript console for technical details.</div></div></div></div></div>
    </div>
    <div class="macro-map-info">
        <div class="macro-map-info-detail">
            <label>Skill</label>
            <strong>@Model.Experience.Skill.Name</strong>
        </div>
        <div class="macro-map-info-detail">
            <label>Category</label>
            <strong>@Model.Experience.Category.Name</strong>
        </div>
    </div>
    <div class="macro-map-info">
        <div class="macro-map-info-detail">
            <label>Company</label>
            <strong>@Model.CompanyProfile.CompanyName</strong>
        </div>
        <div class="macro-map-info-detail">
            <label>Contact us (Skype)</label>
            <strong>@Model.CompanyProfile.SkypeId</strong>
        </div>
    </div>
    <div class="macro-map-info">
        <div class="macro-map-info-detail">
            <i class="icon-location-pin icons text-color-primary"></i>
            <label>Address</label>
            <strong>@Model.Location.Name</strong>
        </div>
        <div class="macro-map-info-detail">
            <i class="icon-globe icons text-color-primary"></i>
            <label>Link</label>
            <strong>@Model.CompanyProfile.Website</strong>
        </div>
    </div>
</div>

<input id="location" class="form-control hidden" />


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDTrJ9dyaYyB-3UNhEa4P4MQ6jn7Fg4dxA&amp;libraries=places"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="~/lib/geocomplete/jquery.geocomplete.min.js"></script>

    <script>
        var info;
        $(function () {
            $("#location").geocomplete({
                map: ".map_canvas",
                types: ["geocode", "establishment"],
                location: '@($"{Model.Location.Latitude},{Model.Location.Longitude}"?? "")'
            });
        });
    </script>

    <script>
        $(document).ready(function () {

        });
    </script>
}
