﻿@model JobViewModel
@{
    ViewData["Title"] = "Edit Job";
}

@section Styles
{
    <link href="~/lib/selectize/dist/css/selectize.css" rel="stylesheet" />
    <link href="~/lib/selectize/dist/css/selectize.default.css" rel="stylesheet" />
    <link href="~/lib/selectize/dist/css/selectize.bootstrap3.css" rel="stylesheet" />
    <link href="~/vendor/pickadate/lib/themes/default.css" rel="stylesheet"/>
    <link href="~/vendor/pickadate/lib/themes/default.date.css" rel="stylesheet" />
    <link href="~/vendor/pickadate/lib/themes/default.time.css" rel="stylesheet" />
}

<div class="container">
    <div class="col-md-6">
        <form asp-controller="Job" asp-action="Edit" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <input asp-for="ProfileId" hidden />
            <input asp-for="ID" hidden />
            <h4>Edit Job.</h4>
            <hr />

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row">
                <div class="col-md-12">
                    <h4 class="mt-xl mb-lg pb-none text-uppercase">Job Details</h4>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label for="Experience.CategoryId" class="control-label">Category: </label>
                    <select asp-for="Experience.CategoryId" asp-items="Model.CategoriesList" class="form-control"></select>
                    <span asp-validation-for="Experience.CategoryId" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label for="Experience.SkillId" class="control-label">Skill: </label>
                    <select asp-for="Experience.SkillId" asp-items="Model.SkillsList" class="form-control"></select>
                    <span asp-validation-for="Experience.SkillId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control"/>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label asp-for="Start" class="control-label"></label>
                    <input asp-for="Start" class="form-control"/>
                    <span asp-validation-for="Start" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label asp-for="End" class="control-label"></label>
                    <input asp-for="End" class="form-control"/>
                    <span asp-validation-for="End" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label for="LocationID" class="control-label">Location: </label>
                    <select asp-for="LocationID" asp-items="Model.LocationsList" class="form-control"></select>
                    <span asp-validation-for="LocationID" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-6 col-md-6">
                    <label class="control-label">&nbsp;</label>
                    <br />
                    <button type="submit" class="btn btn-default pull-right">Update Job</button>
                </div>
            </div>

        </form>
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDTrJ9dyaYyB-3UNhEa4P4MQ6jn7Fg4dxA&amp;libraries=places"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="~/lib/geocomplete/jquery.geocomplete.min.js"></script>
    <script src="~/vendor/pickadate/lib/picker.js"></script>
    <script src="~/vendor/pickadate/lib/picker.date.js"></script>
    <script src="~/vendor/pickadate/lib/picker.time.js"></script>
    <script src="~/lib/selectize/dist/js/standalone/selectize.min.js"></script>

    <script>
        var info;
        $(function () {
            // Selectize
            $("#Experience_CategoryId").selectize();
            $("#Experience_SkillId").selectize();
            $("#LocationId").selectize();

            // Pickadate and Pickatime
            $("#Date").pickadate({
                format: 'yyyy/mm/dd',
                selectMonths: true,
                selectYears: true,
            });
            $("#Start").pickatime();
            $("#End").pickatime();
        });
    </script>

    <script>
        $(document).ready(function () {
            
        });
    </script>
}
