﻿@model Job[]
@{
    ViewData["Title"] = "Jobs";
    var count = 0;
}

@section Styles
{
    
}


<div class="container">
    <h4>Company Jobs.</h4>
    <hr />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Skill
                </th>
                <th>
                    Category
                </th>
                <th>
                    Period
                </th>
                <th>
                    Location
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var Job in Model)
                {
                    <tr>
                        <td>
                            @(++count)
                        </td>
                        <td>
                            @Job.Experience.Skill.Name
                        </td>
                        <td>
                            @Job.Experience.Category.Name
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="Job" asp-route-id="@Job.ID" class="btn btn-primary btn-md font-size-sm text-uppercase mb-md"><i class="icon-calendar icons ml-sm"></i> @Job.Slot.StartTime.ToString("dd/MM/yy") [@Job.Slot.StartTime.ToString("HH:mm") - @Job.Slot.EndTime.ToString("HH:mm")]</a>
                        </td>
                        <td>
                            @Job.Location.Name
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="Job" asp-route-id="@Job.ID" class="btn btn-default btn-xs mr-xs mb-sm">Edit</a>
                            <a asp-action="Match" asp-controller="Job" asp-route-id="@Job.ID" class="btn btn-default btn-xs mr-xs mb-sm">Matches</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>

    <br />
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        var info;
        $(function () {
           
        });
    </script>

    <script>
        $(document).ready(function () {
            
        });
    </script>
}
