﻿@model MatchViewModel
@{
    ViewData["Title"] = "Job Matches";
}

@section Styles
{
    
}


<section class="page-header section section-tertiary slim-padding section-no-border section-center page-header-custom-background m-none">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center job-heading">
                <h1 class="font-weight-bold text-light text-uppercase">@Model.Experience.Skill.Name <span>@Model.Experience.Category.Name</span></h1>
            </div>
            <div class="col-md-12">
                <a asp-action="Edit" asp-controller="Job" asp-route-id="@Model.ID" class="btn btn-primary btn-md font-size-sm text-uppercase mb-md"><i class="icon-calendar icons ml-sm"></i> @Model.Slot.StartTime.ToString("dd/MM/yy") [@Model.Slot.StartTime.ToString("HH:mm") - @Model.Slot.EndTime.ToString("HH:mm")]</a>
            </div>
        </div>
    </div>
</section>

<br />

<div class="container">
    <h4>Matched Profiles.</h4>
    <hr />

    @if (Model.MatchedProfiles != null)
    {
        @foreach (var Profile in Model.MatchedProfiles)
        {
            <div class="col-md-4">
                <div class="micro-map box-shadow-custom clearfix">
                    <div class="micro-map-info">
                        <div class="micro-map-info-detail">
                            <h6>@Profile.FirstName @Profile.LastName</h6>
                            <a asp-action="Details" asp-controller="Profile" asp-route-id="@Profile.ProfileId" class="btn btn-primary btn-md font-size-sm text-uppercase mb-md"><h6>View Profile</h6></a>
                            <strong><i class="icon-location-pin icons text-color-primary"></i> @Profile.Location.Name [@(Math.Round(Profile.Distance)/1000) KM]</strong>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        }
    }  
    
    <br />
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        var info;
        $(function () {
           
        });
    </script>

    <script>
        $(document).ready(function () {
            
        });
    </script>
}
