﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html class="boxed">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"] - Waiter</title>

    <meta name="keywords" content="Waiter App" />
    <meta name="description" content="Waiter App">
    <meta name="author" content="djade.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="~/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-datepicker/bootstrap-datepicker3.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/theme-elements.css">
    <link rel="stylesheet" href="~/css/theme-blog.css">
    <link rel="stylesheet" href="~/css/theme-shop.css">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="~/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="~/vendor/rs-plugin/css/navigation.css">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/css/skins/skin-hotel.css">

    <!-- Demo CSS -->
    <link rel="stylesheet" href="~/css/demos/demo-hotel.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">

    <link rel="stylesheet" href="~/css/site.css">

    @RenderSection("Styles", required: false)

    <!-- Head Libs -->
    <script src="~/vendor/modernizr/modernizr.min.js"></script>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="body">
        <header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 220, 'stickyChangeLogo': false}">
            <div class="header-body">
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-logo">
                                <a asp-area="" asp-controller="Home" asp-action="Index">
                                    <img alt="Porto" width="192" height="55" src="~/img/demos/hotel/logo-hotel.png">
                                </a>
                            </div>
                        </div>
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-nav header-nav-stripe">
                                    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="header-nav-main header-nav-main-square header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                        <nav>
                                            <ul class="nav nav-pills" id="mainNav">
                                                <li class="active">
                                                    <a asp-area="" asp-controller="Home" asp-action="Index">
                                                        Home
                                                    </a>
                                                </li>
                                                
                                                @if (User.IsInRole("Company"))
                                                {
                                                    <li>
                                                        <a asp-area="" asp-controller="Job" asp-action="Create">
                                                            Post Job
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a asp-area="" asp-controller="Search" asp-action="Index">
                                                            Search Job
                                                        </a>
                                                    </li>
                                                }
                                                
                                                @await Html.PartialAsync("_LoginPartial")
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div role="main" class="main">
            @RenderBody()

            <footer id="footer" class="color color-primary mt-none pt-xlg pb-xlg">
                <div class="container">
                    <div class="row pt-md pb-md">
                        <div class="col-md-3 mb-none">
                            <img alt="Porto" class="img-responsive logo mt-sm" style="max-width: 145px;" src="~/img/demos/hotel/logo-hotel-footer.png">
                        </div>
                        <div class="col-md-3 mb-none">
                            <div class="footer-info">
                                <i class="icon-location-pin icons"></i>
                                <label>address</label>
                                <strong>1234 Street Name, Porto, Envato</strong>
                            </div>
                        </div>
                        <div class="col-md-2 mb-none">
                            <div class="footer-info">
                                <i class="icon-phone icons"></i>
                                <label>call us</label>
                                <strong>(800) 1234-5678</strong>
                            </div>
                        </div>
                        <div class="col-md-4 mb-none">
                            <div class="footer-info">
                                <i class="icon-share icons"></i>
                                <label>follow us</label>
                                <ul class="social-icons">
                                    <li class="social-icons-instagram"><a href="http://www.instagram.com/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i> Instagram</a></li>
                                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i> Facebook</a></li>
                                    <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    
                </div>
                <div class="col-md-6 align-right">
                    <p>© Copyright 2017 Waiter. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Vendor -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/vendor/jquery-cookie/jquery-cookie.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/common/common.min.js"></script>
    <script src="~/vendor/jquery.validation/jquery.validation.min.js"></script>
    <script src="~/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="~/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="~/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="~/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="~/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/vendor/vide/vide.min.js"></script>
    <script src="~/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="~/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Demo -->
    <script src="~/js/demos/demo-hotel.js"></script>

    <!-- Theme Custom -->
    <script src="~/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/js/theme.init.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
