﻿@model Job[]
@{
    ViewData["Title"] = "Home";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="slider-container rev_slider_wrapper" style="height: 530px;">
    <div id="revolutionSlider" class="slider rev_slider manual">
        <ul>
            <li data-transition="boxfade">

                <img src="img/demos/hotel/slides/slide-hotel-1.jpg"
                     alt=""
                     data-bgposition="center bottom"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat"
                     data-bgparallax="10"
                     class="rev-slidebg"
                     data-no-retina>
            </li>
            <li data-transition="boxfade">

                <img src="img/demos/hotel/slides/slide-hotel-2.jpg"
                     alt=""
                     data-bgposition="center bottom"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat"
                     data-bgparallax="10"
                     class="rev-slidebg"
                     data-no-retina>
            </li>
            <li data-transition="boxfade">

                <img src="img/demos/hotel/slides/slide-hotel-3.jpg"
                     alt=""
                     data-bgposition="center bottom"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat"
                     data-bgparallax="10"
                     class="rev-slidebg"
                     data-no-retina>
            </li>
        </ul>
    </div>
</div>

<section class="parallax section section-parallax section-center m-none section-overlay-opacity section-overlay-opacity-scale-4" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="img/demos/hotel/parallax-hotel.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <h3 class="mb-xs mt-none text-light text-uppercase">Enjoy the best of Porto</h3>
                <p class="lead text-light mb-xlg">Make your reservation right now with the best price</p>

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Company"))
                    {
                        <a asp-area="" asp-controller="Job" asp-action="Create" class="btn btn-primary btn-lg font-size-sm text-uppercase mt-sm">Post Job</a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Search" asp-action="Index" class="btn btn-primary btn-lg font-size-sm text-uppercase mt-sm">Search Job</a>
                    }
                }
                else
                {
                    <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-primary btn-lg font-size-sm text-uppercase mt-sm">Register Now</a>
                }                
            </div>
        </div>
    </div>
</section>

