/* Add here all your CSS customizations */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #FFF !important; 
    opacity: 1;
}

.micro-map {
    height: 185px;
}

.micro-map .micro-map-info {
    width: 100% !important;
    height: auto !important;
}

.micro-map .micro-map-info-detail .icons {
    font-size: 16px;
    display: inline !important;
}

.micro-map a.btn{
    font-size: 14px !important;
}

.ml-sm {
    margin-left: 0px !important;
}

.macro-map-map.map_canvas{
    margin: 0px !important;
}

.macro-map .macro-map-info-detail {
    min-height: auto !important;
}

.job-heading h1{
    font-size: 2em;
}

.job-heading h1 span{
    font-size: 0.8em;
}

.slim-padding{
    padding: 20px 0px !important;
}
