﻿@model ExperienceViewModel
@{
    ViewData["Title"] = "Edit Experience";
}

@section Styles
{
    <link href="~/lib/selectize/dist/css/selectize.css" rel="stylesheet" />
}


<div class="container">
    <div class="col-md-6">
        <form asp-controller="Experience" asp-action="Edit" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <input asp-for="ProfileId" hidden />
            <input asp-for="ID" hidden />
            <h4>Edit Skill.</h4>
            <hr />

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row">
                <div class="col-md-12">
                    <h4 class="mt-xl mb-lg pb-none text-uppercase">Skill Details</h4>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label for="CategoryId" class="control-label">Category: </label>
                    <select asp-for="CategoryId" asp-items="Model.CategoriesList" class="form-control"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label for="SkillId" class="control-label">Skill: </label>
                    <select asp-for="SkillId" asp-items="Model.SkillsList" class="form-control"></select>
                    <span asp-validation-for="SkillId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="Months" class="control-label" placeholder="Type in an address" autocomplete="off"></label>
                    <input asp-for="Months" class="form-control" />
                    <span asp-validation-for="Months" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-6 col-md-6">
                    <label class="control-label">&nbsp;</label>
                    <br />
                    <button type="submit" class="btn btn-default pull-right">Update Skill</button>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/lib/selectize/dist/js/standalone/selectize.min.js"></script>

    <script>
        $(document).ready(function () {
            // Selectize
            $("#Experience_CategoryId").selectize();
            $("#Experience_SkillId").selectize();
        });
    </script>
}
