﻿@model UserExperience[]
@{
    ViewData["Title"] = "Skills";
    var count = 0;
}

@section Styles
{
    <link href="~/lib/selectize/dist/css/selectize.css" rel="stylesheet" />
}


<div class="container">
    <div class="col-md-offset-2 col-md-8">
        <h4>Your Experiences</h4>
        <hr />

        <a asp-controller="Experience" asp-action="Create" class="btn btn-default mr-xs mb-sm">Add New Skill</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Skill
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Period (Months)
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var Experience in Model)
                    {
                        <tr>
                            <td>
                                @(++count)
                            </td>
                            <td>
                                @Experience.Skill.Name
                            </td>
                            <td>
                                @Experience.Category.Name
                            </td>
                            <td>
                                @Experience.Months
                            </td>
                            <td>
                                <a asp-action="Edit" asp-controller="Experience" asp-route-id="@Experience.ID" class="btn btn-default btn-xs mr-xs mb-sm">Edit</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/selectize/dist/js/standalone/selectize.min.js"></script>

    <script>
        $(document).ready(function () {
            
        });
    </script>
}
