﻿@model SlotViewModel[]
@{
    ViewData["Title"] = "Slots";
}

@section Styles
{
    <link href="~/lib/selectize/dist/css/selectize.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
}


<div class="container">
    <div id='calendar'></div>

    <div class="col-md-offset-1 col-md-10">
        <div id="wrapper">
            <div id="myScheduler"></div>
        </div>

        <br />
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/selectize/dist/js/standalone/selectize.min.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/fullcalendar/dist/fullcalendar.min.js"></script>

    <script id="model" type="application/json">@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))</script>
    <script>
        $(document).ready(function () {
            var events = JSON.parse($("#model").text());

            var create = function (start, end) {
                $.post('/slot/create',
                    {
                        title: '',
                        start: moment(start).format(),
                        end: moment(end).format()
                    },
                    function (data) {
                        console.log(data);
                        eventData = {
                            id: data.id,
                            title: `slot ${data.id}`,
                            start: start,
                            end: end
                        };

                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                        $('#calendar').fullCalendar('unselect');
                    }
                );
            };

            var edit = function (event, delta, revertFunc) {
                //alert(event.title + " end is now " + event.end.format());
                if (!confirm("is this okay?")) {
                    revertFunc();
                }

                $.post('/slot/update',
                    {
                        id: event.id,
                        title: '',
                        start: moment(event.start).format(),
                        end: moment(event.end).format()
                    },
                    function (data) {
                        console.log(data);
                        if (!data) {
                            revertFunc();
                        }
                    }
                );
            };

            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                defaultView: 'agendaWeek',            
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: events,
                
                //dayClick: function () {
                //    alert('a day has been clicked!');
                //},
                //eventClick: function (calEvent, jsEvent, view) {
                //    alert('Event: ' + calEvent.title);                
                //},

                selectable: true,
                selectHelper: true,
                select: create,
                eventDrop: edit,
                eventResize: edit,

                eventRender: function (event, element, view) {
                    if (view.name == 'listDay') {
                        element.find(".fc-list-item-time").append("<span class='closeon'> x </span>");
                    } else {
                        element.find(".fc-content").prepend("<span class='closeon'> x </span>");
                    }

                    element.find(".closeon").on('click', function () {
                        if (confirm("Are you sure you want to delete?")) {
                            $.get(`/slot/delete/${event._id}`,
                                function (data) {
                                    console.log(data);
                                    $('#calendar').fullCalendar('removeEvents', event._id);
                                }
                            );
                        }
                    });
                }
            });            
        });
    </script>
}
