﻿@model Education
@{
    ViewData["Title"] = "New Education";
}

@section Styles
{
    
}

<div class="container">
    <div class="col-md-6">
        <form asp-controller="Education" asp-action="Create" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <input asp-for="ProfileId" hidden />
            <h4>Add Education.</h4>
            <hr />

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="row">
                <div class="col-md-12">
                    <h4 class="mt-xl mb-lg pb-none text-uppercase">Education Details</h4>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label for="Title" class="control-label">Title: </label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label for="Institution" class="control-label">Institution: </label>
                    <input asp-for="Institution" class="form-control" />
                    <span asp-validation-for="Institution" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label for="Address" class="control-label">Address: </label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="StartYear" class="control-label">Start Year</label>
                    <input asp-for="StartYear" class="form-control" />
                    <span asp-validation-for="StartYear" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="EndYear" class="control-label">End Year</label>
                    <input asp-for="EndYear" class="form-control" data-geo="locality" />
                    <span asp-validation-for="EndYear" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-6 col-md-6">
                    <label class="control-label">&nbsp;</label>
                    <br />
                    <button type="submit" class="btn btn-default pull-right">Save Education</button>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    
}
