﻿@model Education[]
@{
    ViewData["Title"] = "Skills";
    var count = 0;
}

@section Styles
{
    <link href="~/lib/selectize/dist/css/selectize.css" rel="stylesheet" />
}


<div class="container">
    <div class="col-md-offset-2 col-md-8">
        <h4>Your Educations</h4>
        <hr />

        <a asp-controller="Education" asp-action="Create" class="btn btn-default mr-xs mb-sm">Add New Education</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Institution
                    </th>
                    <th>
                        Start Year
                    </th>
                    <th>
                        End Year
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var Education in Model)
                    {
                        <tr>
                            <td>
                                @(++count)
                            </td>
                            <td>
                                @Education.Title
                            </td>
                            <td>
                                @Education.Institution
                            </td>
                            <td>
                                @Education.StartYear
                            </td>
                            <td>
                                @Education.EndYear
                            </td>
                            <td>
                                <a asp-action="Edit" asp-controller="Education" asp-route-id="@Education.ID" class="btn btn-default btn-xs mr-xs mb-sm">Edit</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(document).ready(function () {
            
        });
    </script>
}
