﻿@model CompanyProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

@section Styles
{
    <link href="~/lib/selectize/dist/css/selectize.css" rel="stylesheet" />
}


<div class="container">
    @*<h3 class="mt-xl mb-none pb-none text-uppercase">@ViewData["Title"]</h3>*@
    <div class="col-md-offset-1 col-md-10">
        <form asp-controller="Profile" asp-action="CompanyProfile" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <input asp-for="ProfileId" hidden/>
            <h4>Complete your Profile.</h4>
            <hr />

            <div asp-validation-summary="All" class="text-danger"></div>
               
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mt-xl mb-lg pb-none text-uppercase">Profile Details</h4>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="VatNumber" class="control-label"></label>
                    <input asp-for="VatNumber" class="form-control" />
                    <span asp-validation-for="VatNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="Website" class="control-label"></label>
                    <input asp-for="Website" class="form-control" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="Facebook" class="control-label"></label>
                    <input asp-for="Facebook" class="form-control" />
                    <span asp-validation-for="Facebook" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="SkypeId" class="control-label"></label>
                    <input asp-for="SkypeId" class="form-control" />
                    <span asp-validation-for="SkypeId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-6 col-md-6">
                    <label class="control-label">&nbsp;</label>
                    <br />
                    <button type="submit" class="btn btn-default pull-right">Update Profile</button>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/selectize/dist/js/standalone/selectize.min.js"></script>

    <script>
        $(document).ready(function () {
           
        });
    </script>
}
