﻿@model UserProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

@section Styles
{
    <link href="~/lib/selectize/dist/css/selectize.css" rel="stylesheet" />
}


<div class="container">
    @*<h3 class="mt-xl mb-none pb-none text-uppercase">@ViewData["Title"]</h3>*@
    <div class="col-md-offset-1 col-md-10">
        <form asp-controller="Profile" asp-action="UserProfile" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <input asp-for="ProfileId" hidden/>
            <h4>Complete your Profile.</h4>
            <hr />

            <div asp-validation-summary="All" class="text-danger"></div>
               
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mt-xl mb-lg pb-none text-uppercase">Profile Details</h4>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Gender" class="control-label"></label>
                    <select asp-for="Gender" asp-items="Model.GenderList" class="form-control">

                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label asp-for="CurrentAddress" class="control-label"></label>
                    <input asp-for="CurrentAddress" class="form-control" placeholder="Street address, P.O. box, company name, c/o"/>
                    <span asp-validation-for="CurrentAddress" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="Country" class="control-label"></label>
                    <select asp-for="Country" asp-items="Model.CountryList" class="form-control">

                    </select>
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label asp-for="WhatsappNumber" class="control-label"></label>
                    <input asp-for="WhatsappNumber" class="form-control" />
                    <span asp-validation-for="WhatsappNumber" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label asp-for="SkypeId" class="control-label"></label>
                    <input asp-for="SkypeId" class="form-control" />
                    <span asp-validation-for="SkypeId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-6 col-md-6">
                    <label class="control-label">&nbsp;</label>
                    <br />
                    <button type="submit" class="btn btn-default pull-right">Update Profile</button>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/selectize/dist/js/standalone/selectize.min.js"></script>

    <script>
        $(document).ready(function () {
            var countries = [
                'Austria', 'Belgium', 'Czech Republic', 'Denmark',
                'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland ', 'Italy ',
                'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Norway',
                'Poland', 'Portugal', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland'
            ];
            function formObject(item, index) {
                var object = {
                    value: item,
                    text: item
                }
                return object;
            }
            var countryList = countries.map(formObject);

            var $select_state = $('#Country').selectize({
                placeholder: 'Select Country',
            });

        });
    </script>
}
