﻿@model Job[]
@{
    ViewData["Title"] = "Jobs Search";
}

@section Styles
{
    <link href="~/lib/selectize/dist/css/selectize.css" rel="stylesheet" />
    <link href="~/vendor/pickadate/lib/themes/default.css" rel="stylesheet"/>
    <link href="~/vendor/pickadate/lib/themes/default.date.css" rel="stylesheet" />
    <link href="~/vendor/pickadate/lib/themes/default.time.css" rel="stylesheet" />
}

<section class="section section-no-background section-no-border m-none">
    @*<div class="container">
        <h4>Filters</h4>
        <hr />

        <form asp-controller="Search" asp-action="Edit" asp-route-returnurl="@ViewData["ReturnUrl"]" method="get" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label">Category: </label>
                    <select class="form-control"></select>
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label class="control-label">Skill: </label>
                    <select class="form-control"></select>
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label class="control-label">Skill: </label>
                    <select class="form-control"></select>
                    <span class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-6 col-md-6">
                    <label class="control-label">&nbsp;</label>
                    <br />
                    <button type="submit" class="btn btn-default pull-right">Search Jobs</button>
                </div>
            </div>

        </form>
    </div>*@

    <div class="container">
        <h4>Matched Jobs.</h4>
        <hr />

        @if (Model != null)
        {
            if (Model.Count() < 1)
            {
                <h5> No records.</h5>
            }

            @foreach (var Job in Model)
            {
                <div class="col-md-4">
                    <div class="micro-map box-shadow-custom clearfix">
                        <div class="micro-map-info">
                            <div class="micro-map-info-detail">
                                <h6>@Job.Experience.Skill.Name (@Job.Experience.Category.Name)</h6>
                                <h6>@Job.CompanyProfile.CompanyName</h6>
                                <a asp-action="Details" asp-controller="Job" asp-route-id="@Job.ID" class="btn btn-primary btn-md font-size-sm text-uppercase mb-md"><i class="icon-calendar icons ml-sm"></i> @Job.Slot.StartTime.ToString("dd/MM/yy") [@Job.Slot.StartTime.ToString("HH:mm") - @Job.Slot.EndTime.ToString("HH:mm")]</a>
                                <strong><i class="icon-location-pin icons text-color-primary"></i> @Job.Location.Name</strong>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            }
        }

        <br />
    </div>
</section>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDTrJ9dyaYyB-3UNhEa4P4MQ6jn7Fg4dxA&amp;libraries=places"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script>
        var info;
        $(function () {
           
        });
    </script>

    <script>
        $(document).ready(function () {
            
        });
    </script>
}
